
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .userIconContainer:hover .userIconDisplay {
    display: flex;
 }

 .sidebar {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.highlights1 {
  background: var(#F7F7F7, #F7F7F7);
}
.hovered {
  background-color: rgba(0, 0, 0, 0.1);
}

.clicked {
  cursor: pointer;
}

.visible {
  opacity: 1;
}

/* input[type="radio"] {
  display: none;
}

label {
  position: relative;
}

label::before {
  content: "";
  height: 18px;
  width: 18px;
  border: 2px solid black;
  border-radius: 50%;
}

input[type="radio"]:checked + label::before {
  height: 10px;
  width: 10px;
  border: 10px solid #222222;
  background-color: #222222;

} */

@media screen and (max-width: 767px) {
  .bg-image {
    background-image: url("./assets/room4.jpeg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(7px); /* Adjust the blur level as per your preference */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

 