
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* NavBar active states */
 .nav-link.active{
  color: #644321 !important;
 }
 
 .nav-link.actife{
  color: rgb(253 224 71 / var(--tw-text-opacity)) !important;
 }
 
 
 /* Cart section display */
 .cart + .cart{
  padding-top: 1.5rem;
  margin-top: 1rem;
 }
 .cart + .cart::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color:#DDDDDD;
  border-radius: 0.625rem;
  top: 0;
  left: 0;
 }

 /* Brand component edits */
 .mask{
  -webkit-mask: linear-gradient(
    90deg, transparent,white 20%, white 80%, transparent
  );
  mask: linear-gradient(
    90deg, transparent,white 20%, white 80%, transparent
  );
 }
 .maskAnimation{
  animation: marquee 30s linear infinite forwards;
 }

 @keyframes marquee{
  to{
    transform: translateX(-100%);
  }
 }

 /* currency dropdown arrow effect */
 .rotateArrow{
    rotate: -180deg ;
 }

 /* HeartBeat animation for wishlist and cartlist icons on products */
.heartBeatAnimation{
  -webkit-animation: scale-up-heart 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
            animation: scale-up-heart 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
}
@-webkit-keyframes scale-up-heart {
  0%{
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  50%{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-heart{
  0%{
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  50%{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
 .sidebar {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.highlights1 {
  background: var(#F7F7F7, #F7F7F7);
}
.hovered {
  background-color: rgba(0, 0, 0, 0.1);
}

.clicked {
  cursor: pointer;
}

.visible {
  opacity: 1;
}

.ant-modal.payment-modal {
  width: 43rem !important;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  /* opacity: .7; */
}

.skeleton-text {
  width: 80%;
  animation: skeleton-loading 1s linear infinite alternate;
  /* height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem; */
}
/* .skeleton-text:last-child {
  width: 80%;
  margin-bottom: 0;
} */

@keyframes skeleton-loading {
  0% {
    background-color: hsla(200, 7%, 74%, 0.71);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}


@media screen and (max-width: 767px) {
  .bg-image {
    background-image: url("./assets/Sofa/sofa4.jpeg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(7px); /* Adjust the blur level as per your preference */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

 